@import url(reset.css);
@import url(componentes/produtoCard.css);
@import url(componentes/produtoLista.css);
@import url(componentes/produtoPesquisa.css);
@import url(paginas/home.css);
@import url(layout.css);
@import url(font.css);
